.nav-bar {
  background: linear-gradient(
    180deg,
    rgba(7, 116, 110, 0.4096989137451855) 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}

.logo {
  margin-left: -30%;
}

.nav-style {
  color: #06746c;
}

.nav-style:hover {
  background-color: #06746c;
  color: white;
}

/* Responsive */

@media only screen and (max-width: 688px) {
  .logo {
    width: 100%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .footer-list-item {
    list-style: none;
    text-align: left;
  }
}
