.services-title {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #06746c;
}

@media only screen and (max-width: 688px) {
  .services-text {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 13%;
  }
}
